---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const data = await fetch(
    "https://vlprteqptglrilewaeps.supabase.co/rest/v1/GreenLiving",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZscHJ0ZXFwdGdscmlsZXdhZXBzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMDcwOTAsImV4cCI6MjAzMTc4MzA5MH0.dhbb7ywF0JhPSlviFneY6CRDSPjtANKWEh_MWyKUgog",
      },
    }
  ).then((response) => response.json());

  return data.map((produkt) => {
    return {
      params: { slug: produkt.Slug },
      props: { myData: produkt },
    };
  });
}

const { myData } = Astro.props;
console.log(myData);
---

<Layout>
  <article class="grid_1-1">
    <div class="mobil_tekst">
      <h1>{myData.Navn}</h1>
      <h2>{myData.Pris}</h2>
    </div>
    <img
      class="billede_mobil"
      src={myData.Billede_mobil}
      alt="billede af produkt"
    />
    <img
      class="billede_desk"
      src={myData.Billede_desk}
      alt="billede af produkt"
    />
    <div class="info">
      <div class="tekst_desk">
        <h1>{myData.Navn}</h1>
        <h2>{myData.Pris}</h2>
      </div>
      <div>
        <a href="">- 1 +</a>
        <a href="">Læg i kurv</a>
      </div>
      <div class="valgmuligheder">
        <img src="/lille_billede.jpg" alt="lille billede af ovenstående" />
        <img src="/lille_billede.jpg" alt="lille billede af ovenstående" />
        <img src="/lille_billede.jpg" alt="lille billede af ovenstående" />
      </div>
      <p>{myData.Beskrivelse}</p>
    </div>
  </article>

  <style>
    a {
      background-color: var(--button-color);
      border-radius: 15px;
      padding: 10px;
      color: var(--primary-color);
      text-decoration: none;
      margin-right: 10px;
    }
    @media (max-width: 393px) {
      .billede_desk {
        display: none;
      }

      .grid_1-1 {
        display: grid;
        justify-items: center;
      }
      .mobil_tekst h1,
      h2, {
        text-align: start;
        font-weight: 100;
        margin:auto;
      }
      .tekst_desk {
        display: none;
      }

      .billede_mobil {
        align-self: center;
      }

      .info{
        display: grid;
      }
      .info .valgmuligheder {
        align-self: center;
      }
    }
    @media (min-width: 394px) {
      .mobil_tekst {
        display: none;
      }
      article {
        margin: 7%;
      }
      .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: end;
      }

      .info h1,
      h2,
      p {
        text-align: start;
        align-items: start;
      }

      .billede_mobil {
        display: none;
      }

      .billede_desk {
        margin: auto;
      }
      h1,
      h2 {
        text-align: start;
        padding: 0;
      }

      h1 {
        font-size: var(--h2-size);
      }

      .info {
        display: grid;
        justify-items: start;
        gap: 7%;
        te
      }
    }
  </style>
</Layout>
