---
const { data } = Astro.props;
console.log(data);
import "../styles/global.css";
---

<div class="kort_til_produkt">
  <a href={"produkter/" + data.Slug}>
    <div>
      <div class="billede_kort">
        <img class="mobil" src={data.Billede_mobil} alt="billede af produkt" />
        <img class="desk" src={data.Billede_desk} alt="billede af produkt" />
      </div>
      <div class="beskrivelse_kort">
        <h2>{data.Navn}</h2>
        <h3>Pris {data.Pris}</h3>
        <p class="beskrivelse">{data.Beskrivelse}</p>
        <a href="produktliste">
          <span style="text-decoration: underline;">Læs mere</span>
        </a>
      </div>
    </div>
  </a>
</div>

<style>
  a {
    text-decoration: none;
  }
  h3 {
    font-weight: 100;
  }
  h2,
  h3,
  a {
    text-align: start;
  }

  @media (max-width: 393px) {
    .desk {
      display: none;
    }
    .beskrivelse {
      display: none;
    }

    .kort_til_produkt {
      background-color: var(--header-color);
      margin: 3%;
      padding: 10%;
      display: grid;
      justify-content: center;
      gap: 5%;
    }
  }

  @media (min-width: 393px) {
    .mobil {
      display: none;
    }
    .beskrivelse {
      display: none;
    }
    h1 {
      text-align: center;
      padding-top: 10%;
    }

    h2,
    h3 {
      font-size: small;
    }

    .billede_kort {
      align-self: center;
    }
    .kort_til_produkt {
      background-color: var(--header-color);
      margin: 30px;
      padding: 10%;
      display: grid;
      justify-content: center;
      gap: 5%;
    }

    .beskrivelse_kort {
      display: grid;
      gap: 5%;
    }
    main {
      display: grid;
    }
    .kort_til_produkt img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      margin-bottom: 10px;
    }
  }
</style>
