---
const { data } = Astro.props;
console.log(data);
import "../styles/global.css";
---

<a href={"produkter/" + data.Slug}>
  <div class="kort_til_produkt">
    <div>
      <div class="billede_kort">
        <img class="mobil" src={data.Billede_mobil} alt="billede af produkt" />
        <img class="desk" src={data.Billede_desk} alt="billede af produkt" />
      </div>
      <div class="beskrivelse_kort">
        <h2>{data.Navn}</h2>
        <h3>{data.Pris}</h3>
        <p class="beskrivelse">{data.Beskrivelse}</p>
      </div>
    </div>
  </div>
</a>

<style>


  @media (max-width: 393px) {
    .desk {
      display: none;
    }
  }

  @media (min-width: 393px) {
    .mobil {
      display: none;
    }
    .beskrivelse {
    display: none;
  }
  h1 {
    text-align: center;
    padding-top: 10%;
  }

  h2,
  h3,
  a {
    text-align: start;
  }

  .billede_kort {
    align-self: center;
  }
  .kort_til_produkt {
    background-color: var(--header-color);
    margin: 30px;
    padding: 10%;
    display: grid;
    justify-content: center;
    gap: 5%;
  }

  .beskrivelse_kort {
    display: grid;
    gap: 5%
  }
  main {
    display: grid;
  }
  }
</style>
